* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray-100: #cbd8e0;
  --gray-200: #B8BCBD;
  --gray-500: #5b87a0;
  --pink-600: #ec3f79;
  --pink-700: #db3669;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.fas {
  color: var(--gray-500);
}

.availble-seat {
  color: var(--gray-500);
}

.booked-seat {
  color: var(--gray-100);
}

.selected-seat {
  color: var(--pink-700);
}

.wrapper {
  height: auto;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: minmax(255px, 1fr) auto 1fr auto 128px;
  text-align: center;
}

header {
  position: relative;
  filter: opacity(0.8);
}

header div {
  position: absolute;
  bottom: 0;
  z-index: 1000;

}

header h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

header address {
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}

.legends {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.seats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.seats div > span {
  color: var(--gray-200);
  font-weight: 700;
  margin-right: 0.275rem;
}

.row-one div {
  padding: 0.3rem;
}

.row-two div {
  padding: 0.3rem;
}

.row-one div:not(div:last-child),
.row-two div:not(div:last-child){
  margin-bottom: 1rem;
}

.row-one div i:active {
  color: red;
}

.screen {
  margin-top: 2rem;
  text-align: center;
  color: var(--gray-200);
  font-weight: 500;
}

.screen span:last-child {
  display: block;
  width: 80%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--gray-500);
}





